@media(max-width:576px){
    
    .container {
        margin: 30px 0px;
    }
    
    h1 {
        font-size: 35px;
        line-height: 40px;
        padding: 0px;
        margin: 0px;
        margin-left: 10px;
    }
    h2{
        font-size: 20px;
        margin-left: 10px;
    }
    p{
        font-size: 18px;
    }
    #image img{
        object-fit: cover;
        height: 100%;
    }
    #home{
        height: 100%;
    }
    #home h1{
        font-size: 40px;
    }
    #home h2{
        font-size: 20px;
    }
    
    
    .left {
        top: 40px;
        right: 10px;
    }
    
    #border {
        margin-top: 804px;
    }
    
    #home #text {
        margin-top: 220px;
        padding: 0px ;
    }
    
    #home #text #email {
        display: inline;
    }
    
    #home #text input {
        width: 90%;
    }
    
    #home #text #btn {
        width: 50%;
    }
    
    #enjoy .container {
        display: inline;
    }  
    #enjoy #a {
        width: 100%;
        padding: 0px;
        padding-left: 0px;
    }
    
    #enjoy #b {
        margin-top: 110px;
    }
    
    #enjoy #b video {
        width: 300px;
        height: 300px;
    }
    
    #download .container {
        display: inline;
    }
    
    #download .container #a img {
        width: 100%;
    }
    
    #download .container #a #upper {
        margin-left: 35px;
    }
    
    #download #b {
        margin-left: 0px;
    }
    #watch{
        width: 100%;
    }
    #watch #a {
        width: 100%;
        margin-left: 0px;
    }
    
    #kids {
        padding:50px  0px;
    }
    
    #kids .container {
        display: inline;
    }
    
    #kids #b {
        padding: 0px;
        margin:0px;
    }
    
    #kids #b h2 {
        padding-right: 0px;
    }
    
    #question .container #mail #email {
        display: inline;
    }
    
    #question .container #mail {
        width: 100%;
    }
    
    #question .container #mail input {
        width: 90%;
    }
    
    #question .container #mail p {
        margin-top: -50px;
    }
    
    #question #box-1 {
        width: 90%;
        padding: 10px;
    }
    
    #question #box-2 {
        width: 90%;
        padding: 10px;
    }
    
    #question #box-3 {
        width: 90%;
        padding: 10px;
    }
    
    #question #box-4 {
        width: 90%;
        padding: 10px;
    }
    
    #question #box-5 {
        width: 90%;
        padding: 10px;
    }
    
    #question #box-6 {
        width: 90%;
        padding: 10px;
    }
    #question .container #mail #btn {
        width: 47%;
        margin-top: 15px;
    }
    #question p {
        right: 25px;
    }
    
    #footer #child {
        display: none;
    }
    #footer{
        padding: 10px 0px;
    }
    #footer h3 {
        margin-left: 10px;
    }
    
    #footer footer {
    margin-top: 30px;
        margin-left: 10px;
    }
}